@charset "utf-8";

/*reset*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol{
  margin:0;
  padding:0;
}
html{
  overflow-y:scroll;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
html *{
  outline:0;
  -webkit-text-size-adjust:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html,body{
  overflow-x: hidden;

}
em{
  font-style:normal;
}
li{
  list-style:none;
}
a{
  text-decoration:none;
}
img{
  border:none;
  vertical-align:top;
}
table{
  border-collapse:collapse;
}
input,textarea{
  outline:none;
}

//input:not([type="image"]), textarea {
//    box-sizing: border-box;
//}
textarea{
  resize:none;
  overflow:auto;
}
body{
  font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
}

/*public*/
.clearfix{
  zoom:1;
}
.clearfix:after{
  content:'';
  display:block;
  clear:both;
}
.fl{
  float:left;
}
.fr{
  float:right;
}
a:link,a:visited,a:hover{
  text-decoration:none;
}

/*img-circle*/
.img-responsive{
  display: block;
  width: 100%;
  height: auto;
  border: none;
  vertical-align: middle;
}

/*header*/
.header{
  margin: 10px auto;
  .search-box{
    width: 562px;
    height: 81px;
    margin: 0 auto;
    margin-right: 20px;
    .search-main{
      color: #333333;
      .search-input-btn{
        height: 50px;
        input::-webkit-input-placeholder{
          font-weight: 200;
        }
        input:-moz-placeholder{
          font-weight: 200;
        }
        input::-moz-placeholder{
          font-weight: 200;
        }
        input:-ms-input-placeholder{
          font-weight: 200;
        }
        .search-input{
          width: 432px;
          height: 24px;
          padding: 12px 14px;
          border: solid 1px #1a8ced;
          border-radius: 4px 0 0 4px;
          font-size: 18px;
          font-weight: bold;
        }
        .search-btn{
          width: 100px;
          height: 50px;
          line-height: 50px;
          border-radius: 0 4px 4px 0;
          background: #1a8ced;
          text-align: center;
          color: #fff;
          font-size: 24px;
          cursor: pointer;
          cursor: hand;
        }
      }
      .tags-box{
        height: 25px;
        line-height: 25px;
        margin-top: 6px;
        .tags-title{
          width: 92px;
          margin-right: 7px;
          font-size: 18px;
        }
        .tags-main{
          .tag-item{
            width: 49px;
            margin-right: 20px;
            border-radius: 2px;
            background: #1a8ced;
            font-size: 12px;
            text-align: center;
            a{
              color: #fff;
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  .publish,.opinion{
    width: 192px;
    height: 76px;
    line-height: 76px;
    border-radius: 2px;
    text-align: center;
    a{
      display: block;
      width: 188px;
      height: 72px;
      margin: 2px;
      font-size: 22px;
      span{
        margin-right: 64px;
      }
    }
  }
  .publish{
    margin-right: 16px;
    border: solid 2px #1a8ced;
    a{
      background-size: 100%;
      color: #1a8ced;
    }
  }
  .opinion{
    border: solid 2px #F58833;
    a{
      background-size: 100%;
      color: #F58833;
    }
  }
}

/*footer*/
.footer {
  width: 990px;
  margin: 10px auto 0 auto;
  padding: 7px 0 10px 0;
  border-top: 3px solid #3b5998;
  text-align: center;
  color: #7c7c7c;
  font-size: 12px;
  p {
    line-height: 24px;
    margin: 0;
    padding: 0;
    a{
      display: inline-block;
      margin: 0 9px;
      color: #7c7c7c;
    }
    a:visited {
      color: #7c7c7c;
      text-decoration: none;
    }
    a:hover {
      color: #d60000;
      text-decoration: none;
    }
    .footios, .footand, .footwp, .footphone, .footauto {
      display: inline-block;
      padding-left: 19px;
    }
    .footios {
      background-position: 0 3px;
    }
    .footand {
      background-position: 0 -27px;
    }
    .footwp {
      background-position: 0 -57px;
    }
    .footphone {
      background-position: 0 -87px;
    }
    .footauto {
      padding: 0 22px 0 21px;
      background-position: 0 -117px;
    }
  }
}


//suspending-btns
.suspending-btns{
  position: fixed;
  bottom: 60px;
  margin-left: 1000px;
  width: 50px;
  border: solid 1px #F58833;
  .suspending-item{
    display: block;
    position: relative;
    width: 50px;
    height: 49px;
    border-bottom: solid 1px #F58833;
    cursor: pointer;
    &:last-child{
      border-bottom: 0;
    }
    &:hover{
      background: #F58833;
    }
  }
  .go-top{
    display: none;
    &.show{
      display: block;
    }
  }
  .go-top:before{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 26px;
    height: 26px;
    margin-top: -13px;
    margin-left: -13px;
    content: '';
    background-size: 100%;
  }
  .go-top:hover:before{
    position: absolute;
    left: 24px;
    top: 18px;
    content: '返回顶部';
    width: 30px;
    height: 40px;
    background: none;
    font-size: 14px;
    color: #fff;
  }

  .go-home:before{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 26px;
    height: 26px;
    margin-top: -13px;
    margin-left: -13px;
    content: '';
    background-size: 100%;
  }
  .go-home:hover:before{
    position: absolute;
    left: 24px;
    top: 18px;
    content: '返回首页';
    width: 30px;
    height: 40px;
    background: none;
    font-size: 14px;
    color: #fff;
  }

  .go-publish:before{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 26px;
    height: 30px;
    margin-top: -15px;
    margin-left: -13px;
    content: '';
    background-size: 100%;
  }
  .go-publish:hover:before{
    position: absolute;
    left: 24px;
    top: 20px;
    content: '发表游记';
    width: 30px;
    height: 40px;
    background: none;
    font-size: 14px;
    color: #fff;
  }

  .go-opinion:before{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    margin-left: -18px;
    content: '';
    background-size: 100%;
  }
  .go-opinion:hover:before{
    position: absolute;
    left: 29px;
    top: 22px;
    content: '意见反馈';
    width: 30px;
    height: 40px;
    background: none;
    font-size: 14px;
    color: #fff;
  }
}


/*公共头部*/
.head {
  width: 100%;
  height: 33px;
  line-height: 33px;
  background: #f9f9f9;
  border-bottom: solid 1px #eee;
  color: #fff;
  font-size: 14px;
  .container {
    width: 990px;
    margin: 0 auto;
    .head-logo {
      float: left;
      width: 236px;
      height: 33px;
      background-size: 100%;
    }
    .login-register {
      position: relative;
      float: right;
      max-width: 300px;
      line-height: 33px;
      height: 33px;
      li {
        float: left;
        color: #aaa;
      }
      span{
        margin-right: 5px;
      }
      span,a{
        float: left;
      }
      a {
        display: inline-block;
        padding-right: 5px;
        text-align: center;
        color: #1a8ced;
      }
      .username{
        max-width: 145px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .msg {
        margin-left: 10px;
        cursor: pointer;
        cursor: hand;
        &:hover {
          background: #fff;
          span {
            color: #f1762c;
          }
        }
        span {
          padding: 0 30px 0 15px;
          border-left: solid 1px #fff;
        }
        .msg-con {
          position: absolute;
          left: 0;
          z-index: 999;
          width: 272px;
          padding: 5px 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background: #fff;
          border: solid 1px #e7e7e7;
          li {
            width: 100%;
            padding: 0 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #1a8ced;
            &:hover {
              background: #f8f8f8;
            }
            a {
              width: initial;
              color: #1a8ced;
            }
          }
        }
      }
    }
  }
}
